<div class="main">
	<div class="main--back">
		<header>
      <div class="header">
        <div>
          <img src="<%= asset_path "logo.png" %>" class="header--title__logo">
          <img src="<%= asset_path "title.png" %>" class="header--title__image">
        </div>
      </div>
    </header>
		<div class="contents">
			<div class="home--title">
				<h2>Make Your Recipe Book</h2>
				<p>持ってるレシピ、１つにまとめませんか？</p>
			</div>
			<div class="home--item">
				<%= link_to 'ログイン', new_user_session_path, class:"button login--button__secondary-1" %>
				<%= link_to '新規登録', new_user_registration_path, class:"button login--button__secondary-2" %>
			</div>
			<div class="home--about">
				<%= link_to 'このサイトについて', "/home/about" %>
			</div>
		</div>
	</div>
</div>