<div class="main">
  <div class="contents">
    <div class="wrap">
      <div class="wrap--head">
        <img src="<%= asste_path "logo.png" %>" class="wrap--head__logo">
      </div>
      <div class="wrap--form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="wrap--field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メール", class:"wrap--field__input" %>
          </div>

          <div class="wrap--field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"wrap--field__input"  %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="wrap--field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'ログイン情報を記憶する' %>
            </div>
          <% end %>

          <div class="wrap--button">
            <%= f.submit "ログイン", class:"button wrap--button__secondary-1" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>