<!DOCTYPE html>
<html>
  <head>
    <title>My Recipe Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header">
          <div class="header--title">
            <img src="<%= asset_path "logo.png" %>" class="header--title__logo">
            <div class="header--title__item"><%= current_user.name %>'s Recipe Book</div>
          </div>
          <div class="header--icon">
            <%= link_to users_path do %>
              <i class="fas fa-home"></i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
